<doctype html>
<head>
    <title>Transcode Jerky video</title>
</head>

<h2>Type the origin path with the filename </h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.originpath) }}
  </dl>
  <p><input type=submit value=Transcode>
</form>
