{% extends "base.html" %}

{% block content %}
	<div class="container" id="main">
		<h1 class="title" id="page-title">Jerky Video transcoding tool</h1>
        {% if err is defined %}
            <div class="warning">
                {% for e in err %}
                    {% for x in err[e] %}
                        <h3 id="err-title">{{ e }}</h3>
                        <p id=err-details"">{{ x }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {% if user %}
            <div id="tool">
                Type the full original path to the camera or slide video. <br>
                Example: \\cern.ch\dfs\Services\Recordings\Rooms\Room_Georges_Charpak_Room_F\20181203-cernmatrox03-142222\camera.mp4
                {% from "_formhelpers.html" import render_field %}
                <form method="post" role="form">
                     {{ form.hidden_tag() }}
                      <dl>
                        {{ render_field(form.originpath) }}
                      </dl>
                      <p><input type=submit value=Transcode>
                </form>
            </div>
            <div id="job_submitted" style="display: none">
                <h2>Your job is being processed, you will receive an email once it is completed</h2>
            </div>
        {% else %}
            <div id="tool">
                <h2>Please login to view this site</h2>
            </div>
        {% endif %}
	</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
{% endblock %}

