body{
    font-family: 'Work Sans', sans-serif;
}

.container{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
}

#main{
	margin-top: 80px;
}

#tool, #job_submitted{
	background: #eaeaea;
	padding: 30px;
    color: #555;
}

h1{
	font-size: 2.5em;
    margin: 0 0 0.5em 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "PT Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
    color: #414141;
    font-weight: 600;
}

/* ------ video upload form ----- */


#file_upload, #video_details_form{
    font-size: 1.3em;
}

#file_upload label, #video_details_form label{
    display: inline-block;
}

#crop_times label{
    margin-top: 10px;
}

file_upload input[type="text"]{
    padding: 10px 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

#video_details_form input[type='text'], #video_details_form input[type='number']{
    padding: 5px;
    border: 1px solid #4d94ce;
    border-radius: 5px;
    margin-top: 10px;
}

#video_details_form input[type='text']:focus{
    outline:none;
}

#video_details{
    display: none;
}

#crop_times{
    display: none;
}

/* ----- image upload ----- */

.image_form{
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    display: none;
}

.image_form p{
    margin-bottom: 10px;
}

#add_image_btn, #file_upload input[type="submit"]{
    margin-top: 15px;
    display: block;
}

#video_submit{
    margin-top: 15px;
}

#file_upload input[type="file"], #video_details_form input[type='file']{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#file_upload input[type="file"] + label, #file_upload button,
#video_details_form input[type='file'] + label, #video_details_form button,#video_submit{
	font-size: 1em;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: #4d94ce;
    border: 1px solid #4d94ce;
}

.type_radio li{
    list-style: none;
}



#file_upload button:hover, #video_details_form button:hover, #video_submit:hover{
    cursor: pointer;
    font-weight: 600;
    background: #fff;
    border: 1px solid #4d94ce;
    color: #111;
}

#file_upload button:focus, #video_details_form button:focus{
    outline: none;
}

#video_filename, .img_filename, #video_resolution{
    margin-top: 5px;
    color: #999;
}

#video_filename, #video_resolution{
    display: inline-block;
}

#video_filename span, #video_resolution span{
    color: #4d94ce;
}

#video_err{
    color: #f00;
    margin-top: 15px;
    display: none;
}

.type_lbl{
    margin: 10px 0;
}

#file_upload input[type="file"] + label:hover,
#video_details_form input[type="file"] + label:hover{
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    border: 1px solid #4d94ce;
    color: #111;
}

.image_form button{
    position: absolute;
    top: 20px;
    right: 20px;
}

.image_form h3{
    margin-bottom: 10px;
}

.warning{
    color: #e74c3c;
    margin-top: 5px;
    background: #FFE0D8;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius:5px;
    margin-bottom: 5px;
}

.warning h3{
    color: #e74c3c;
    font-size: 2em;
}

/*progress bar*/

.progress {
    background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#f5f5f5));
    background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    margin-top: 10px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-success{
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#449d44 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#449d44));
    background-image: linear-gradient(to bottom,#5cb85c 0,#449d44 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

/*spinner loader*/

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 15px;
    height: 15px;
    display: inline-block;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.spinner_container{
    position: relative;
}

#crop_end_loader{
    position: absolute;
    top:10px;
    display: none;
}

#filename_loader, #resolution_loader{
    position: absolute;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




